<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Статистика репозитория</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1>Статистика репозитория №1</h1>

<form id="dateRangeForm">
    <input type="date" name="startDate">
    <input type="date" name="endDate">
    <button type="submit">Выбрать</button>
</form>
<h1> </h1>
<table id="commitTable" border="1">
    <thead>
    <tr>
        <th>Автор</th>
        <th>Число коммитов</th>
    </tr>
    </thead>
    <tbody>
    <!-- Данные будут добавлены с помощью JavaScript -->
    </tbody>
</table>

<script >
    $(document).ready(function() {
        $('#dateRangeForm').submit(function(event) {
            event.preventDefault();
            var formData = $(this).serialize();



            $.ajax({
                type: 'GET',
                url: '/new27042024',
                data: formData,
                dataType: 'json',
                success: function(data) {
                    // Обновление таблицы с полученными данными
                    updateTable(data);
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });

    function updateTable(data) {
        // Очистить существующие данные в таблице
        $('#commitTable tbody').empty();

        // Заполнить таблицу данными из полученного объекта JSON
        $.each(data, function(author, commitEntities) {
            var row = '<tr><td>' + author + '</td><td>' + commitEntities + '</td></tr>';
            $('#commitTable tbody').append(row);
        });
    }

</script>
</body>
</html>
