<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>File Structure TreeMap</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <style>
        .node {
            position: absolute;
            text-align: center;
            overflow: hidden;
            font-size: 12px;
            background: #ccc;
        }
    </style>
</head>
<body>
<div id="treemap"></div>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        fetch('/api/file-structure')
            .then(response => response.json())
            .then(data => {
                console.log('Received data:', data); // Выводим данные в консоль для отладки
                // Преобразуем структуру данных для d3.hierarchy
                function convertChildrenToArray(node) {
                    if (node.children) {
                        node.children = Object.values(node.children);
                        node.children.forEach(child => convertChildrenToArray(child));
                    }
                }
                convertChildrenToArray(data);
                renderTreeMap(data);
            });

        function renderTreeMap(data) {
            let width = 960, height = 500;

            let root = d3.hierarchy(data)
                .sum(d => d.size || 0)
                .sort((a, b) => b.height - a.height || b.value - a.value);

            let treemap = d3.treemap()
                .size([width, height])
                .padding(1)
                .round(true);

            treemap(root);

            let div = d3.select("#treemap").append("div")
                .style("position", "relative")
                .style("width", width + "px")
                .style("height", height + "px");

            let node = div.selectAll(".node")
                .data(root.children)
                .enter().append("div")
                .attr("class", "node")
                .style("left", d => d.x0 + "px")
                .style("top", d => d.y0 + "px")
                .style("width", d => d.x1 - d.x0 + "px")
                .style("height", d => d.y1 - d.y0 + "px")
                .style("background", "rgba(0, 0, 0, 0.1)")
                .text(d => d.data.name);

            node.on("dblclick", function(event, d) {
                if (d.data.children) {
                    d.data._children = d.data.children;
                    d.data.children = null;
                } else if (d.data._children) {
                    d.data.children = d.data._children;
                    d.data._children = null;
                }
                // Очищаем текущий treemap перед повторной отрисовкой
                d3.select("#treemap").selectAll("*").remove();
                renderTreeMap(data); // Перерисовать treemap с обновленными данными
            });
        }
    });
</script>
</body>
</html>
